$hd: 1px !default;

$white: #fff !default;
$black: #000 !default;

$primary: #108ee9 !default; // 全局主色
$success: #6abf47 !default; // 成功色
$info: #17a2b8 !default; // 信息色
$warning: #ffc600 !default; // 警告色
$error: #f4333c !default; // 错误色

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'error': $error
  ),
  $theme-colors
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$grid-columns: 24 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;

$border-width: $hd !default;
$border-color: #dee2e6 !default;
$border-radius: 4 * $hd !default;
